<%- include ('./partials/header.ejs') %>

<div id="blob"></div>
<div id="blur"></div>
<div id="aboutme">
  <section id="work">
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="title pb-2 border-bottom magic-gradient">SummonerStats</h2>
      <div class="row g-4 pt-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <h3 class="fs-2"><span>About</h3>
          <h6>Full-stack web application that caters to passionate League of Legends players seeking to track their progress in the competitive ranked mode. As a dedicated gamer and enthusiast developer, I wanted to create a user-friendly and visually appealing tool that utilizes the Riot Games API to retrieve real-time game data and present it to the user in an intuitive manner.</h6>
          <p><br /></p>
        </div>
        <div class="feature col">
          <h3 class="fs-2"><span>Resources</span> Used</h3>
          <ul>
            <li>HTML</li>
            <li>Javascript</li>
            <li>CSS</li>
            <li>React</li>
            <li>REST API</li>
          </ul>
        </div>
        <div class="feature col">
          <h3 class="fs-2">Key <span>Features</span></h3>
          <ul>
            <li>Real Time Data Retrieval</li>
            <li>User-friendly Interface</li>
            <li>Use of React Hooks</li>
            <li>Use of React Components</li>
            <li>React Router</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container project-info px-4">
        <div class="title pb-2 border-bottom magic-gradient"><h2>Problem</h2></div>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam repellendus maiores dolorum saepe architecto soluta nihil reprehenderit omnis facere. Laboriosam odio quas qui veniam consequatur mollitia expedita doloribus neque esse.</p>
        <div class="d-flex gap-3 align-middle">
            <div>col1</div>
            <div>col2</div>
        </div>
    </div>
  </section>
  <%- include ('./partials/footer.ejs') %>
</div>
