<%- include ('./partials/header.ejs') %>

<!--Hero Section-->

<div class = "hero-section">
    <section id = "hero">
        <div id="left-side" class="side">
            <h2 class="title">
            Joan Comadran <br>
            <span class="fancy">Full Stack Developer</span> <br> <span class="description dev">I develop seamless digital experiences through creative coding. </span> <br>
            <button class="projectsButton-left"><a href="./projects">View Projects</a></button>

            </h2>
        </div>
        <div id="right-side" class="side">
            <h2 class="title">
                Joan Comadran  <br>
            <span class="fancy">Industrial Engineer</span> <br> <span class="description eng">I apply creative problem-solving skills to optimize processes and drive efficiency. </span> <br>
            <button class="projectsButton-left"><a href="./projects">View Projects</a></button>
            </h2>
        </div>
    </section>   
</div>


<%- include ('./partials/footer.ejs') %>