<%- include ('./partials/header.ejs') %>

<div id="blob"></div>
<div id="blur"></div>
<div id="contactme">
    <h1 id="contactmeh1" data-value="PROJECTS"> PROJECTS</h1>
</div>
<section class="hero-section">
    
    <div class="card-grid">
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://images.pexels.com/photos/7620629/pexels-photo-7620629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"></div>
        <div class="card__content">
          <p class="card__category">2021</p>
          <h3 class="card__heading">Ecommerce website</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://images.pexels.com/photos/7652039/pexels-photo-7652039.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"></div>
        <div class="card__content">
          <p class="card__category">2020</p>
          <h3 class="card__heading">Corporate website</h3>
        </div>
      </a>
      <a class="card" href="#">
        <div class="card__background" style="background-image: url(https://images.pexels.com/photos/1819669/pexels-photo-1819669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"></div>
        <div class="card__content">
          <p class="card__category">2020</p>
          <h3 class="card__heading">New Project</h3>
        </div>
      </li>
      <a class="card" href="./gamingwebapp">
        <div class="card__background" style="background-image: url(https://images.pexels.com/photos/1293261/pexels-photo-1293261.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)"></div>
        <div class="card__content">
          <p class="card__category">2023</p>
          <h3 class="card__heading"> Gaming Web App </h3>
        </div>
      </a>
    <div>
  </section>

<%- include ('./partials/footer.ejs') %>