:root {
  --c1: #211f24;
  --c2: #ac80fd;
  --c3: #71b4b8;
  --c4: #c8b49a;
  --text: #fff;
}

* {
  cursor: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #211f24 !important;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
}
/*MENU INSTA-GITHUB*/

#menu-icons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  z-index: 100;
  transition: 0.3s ease;
}

#menu-icons a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  color: var(--c3);
}

@media (max-width: 768px) {
  #menu-icons {
    display: none;
  }
}

/**** HERO SECTION ****/

.description {
  font-size: 1.7vw;
}

.dev {
  color: var(--c3);
}

.eng {
  color: var(--c1);
}
.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  width: 100%;
}

.side .title {
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  margin: 0px 10vw;
  width: 80vw;
}

.side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
}

#left-side {
  background-color: var(--c1);
  width: 100%;
  z-index: 2;
  position: absolute;
}

#left-side .title {
  color: var(--text);
}

#left-side .fancy {
  color: var(--c2);
}

.projectsButton-left {
  background-color: transparent;
  font-size: 2rem;
  border: 1px solid var(--c4);
  border-radius: 10px;
  padding: 10px;
  color: var(--text);
}

.projectsButton-left a {
  color: var(--text);
  text-decoration: none;
}

.projectsButton-right {
  background-color: transparent;
  font-size: 2rem;
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 10px;
  color: var(--text);
}

.projectsButton-right a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer !important;
}

#right-side {
  background-color: var(--c2);
}

#right-side .title {
  color: var(--dark);
}

#right-side .fancy {
  color: var(--text);
}

/*HEADER*/

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.nav-item a {
  font-size: x-large;
  font-weight: bold;
  color: var(--text);
  transition: 0.3s ease;
}

.nav-item a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  color: var(--c4);
}

.cv a {
  color: var(--text) !important;
}

.cv a:hover {
  color: var(--c4) !important;
}

/*CURSOR*/

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--text);
  opacity: 0.4;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 100;
}
.hover {
  background-color: white;
  opacity: 0.5;
}

/**** WORK EXPERIENCE ****/

.magic-gradient {
  font-size: xx-large;

  /* Create the gradient. */
  background-image: linear-gradient(-180deg, var(--c2), var(--c3));

  background-size: 60%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

#work span {
  background-image: linear-gradient(180deg, var(--c4), var(--c3));

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

#work p {
  text-align: justify;
  color: var(--c3);
}

#work {
  padding-top: 60px !important;
}
#work ul {
  color: var(--c4);
}

#skills {
  margin-top: -40px !important;
}

h3 {
  color: var(--text) !important;
}

h6 {
  color: var(--c4) !important;
}

#languageList {
  color: var(--c3);
}

#driverList {
  color: var(--c3);
}

.caption {
  color: var(--text);
}

.icons {
  transition: 0.3s ease;
}

.icons:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

/*FOOTER*/

#footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer .copyright {
  color: var(--text) !important;
}

#footer svg {
  color: var(--text) !important;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: var(--text);
  height: 20vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, var(--c3), var(--c2));
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(10vmax);
  margin: 0;
}

#aboutme {
  position: relative;
  z-index: 4;
}

/*CONTACT ME*/

#contactme {
  position: relative;
  color: var(--text) !important;
  text-align: center;
  top: 30%;
  z-index: 3;
}

#contactform {
  margin-top: 20px;
  padding: 10px;
  width: 50%;
  height: 3rem;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--c2);
  color: var(--c4);
}

#contactform::placeholder {
  color: var(--c3);
  opacity: 30%;
}

#contactform:focus {
  outline: 1px solid var(--c3);
  border: none;
}

#contactText {
  padding: 10px;
  width: 50%;
  background-color: transparent;
  border-radius: 10px;
  border-color: var(--c2);
  color: var(--c4);
}

#contactText::placeholder {
  color: var(--c3);
  opacity: 30%;
}

#contactText:focus {
  outline: 1px solid var(--c3);
  border: none;
}

#contactmeh1 {
  color: var(--c3);
  font-weight: bold;
}

input[type="submit"] {
  background-color: transparent;
  border-radius: 10px;
  color: var(--c4);
  border: 1px solid var(--c4);
  width: 10%;
  height: 3rem;
  transition: 0.3s ease;
}

input[type="submit"]:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  background-color: transparent;
  border-radius: 10px;
  color: var(--c3);
  border: 1px solid var(--c3);
  width: 10%;
  height: 3rem;
}

/*PROJECTS*/

.hero-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 100%;
  width: 70%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
  background-color: transparent !important;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  bottom: 0;
  filter: brightness(0.75) saturate(1) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--c1);
  background-color: var(--c4);
  font-size: 0.9rem;
  margin-bottom: 0px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 10px;
}

.card__heading {
  color: var(--text) !important;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  display: inline-block;
  background-color: var(--c2);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: medium;
}

#projectsTitle {
  position: absolute;
  height: 100vh;
}

/*Gaming Web App*/

.two-column {
  display: block;
}

@media (min-width: 768px) {
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

h1 {
  z-index: 200;
  color: #71b4b8;
}

.project-info .problem-div {
  color: var(--c2);
}

